<style>
    footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightslategray;
        color: black;
        text-align: center;
    }
    body{
  padding: 2rem 0rem;
}
.card-img-overlay {
  background-color: rgba(#000, 0.4);
}
</style>
<div class="container pt-5">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-sm-6">
            <div class="card bg-transparent">
                <div class="card-header text-center text-white bg-info"><b>LOGIN</b>
                </div>
                <div>
                    <p class="text-danger text-center"><b>{{errorMessage}}</b></p>
                </div>
                <div class="card-body ">                  
                    <form action="">
                        <div class="Form-group mx-2 my-3 text-white">
                            <h6>Sign in as</h6>
                            <div class="row mx-2 my-3">
                                <div class="col text-white">
                                    <input type="radio" name="signup" [(ngModel)]="sign" value="buyer">Buyer</div>
                                <div class="col">
                                    <input type="radio" name="signup" [(ngModel)]="sign" value="seller">Seller
                                </div>
                            </div>
                            <label for="username">USER</label>
                            <input type="text" class="form-control" id="username" [(ngModel)]="username"
                                placeholder="username" name="username" />
                        </div>
                        <div class="Form-group mx-2 my-3 text-white">
                            <label for="pass">PASSWORD</label>
                            <input type="password" class="form-control" id="pass" [(ngModel)]="password"
                                placeholder="password" name="password" />
                        </div>
                        <button type="submit" class="btn btn-info float-right" (click)="validate()">LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer class="sticky-footer fixed-bottom">
    2020 @Copyright
</footer>